/*pタグの中でもbluecolorクラスのものだけ装飾　*/
.bluecolor{
    color:blue;
}
/* h1タグの中でもkudoというidのやつだけを装飾　*/
h1#kudo{
    font-family: impact;
    font-size: 60px;
}
h2{
    color: red;
}
h2{
    color: green;
}

h2:hover{
    background-color: beige;
}