div.title{
    vertical-align: top;
    width:1000px;
    height:40px;
    background-color: gray;
    font-size: 20px;
    margin-bottom: 20px;
}


div.menu{
    font-size: 0;
    width: 1000px;
    height: 320px;
    background-color:  lightblue;

}

div.menu1{
    display: inline-block;
    vertical-align: top;
    width:250px;
    height:320px;
    background-color: gray;
    margin: 0px 50px 20px 0px;
}


div.menu1-1{
    font-size: 20px;
    width:250px;
    height:100px;
    background-color: red;
    margin: 0px 0px 10px 0px;
    
}

div.menu1-2{
    font-size: 20px;
    width:250px;
    height:100px;
    background-color: red;
    margin: 0px 0px 10px 0px;
    
}

div.menu1-3{
    font-size: 20px;
    width:250px;
    height:100px;
    background-color: red;
    
}

div.menu2{
    display: inline-block;
    vertical-align: top;
    width:700px;
    height:320px;
    background-color: blueviolet;
}

div.menu2-1{
    font-size: 20px;
    width:700px;
    height:300px;
    background-color: black;
}

div.menu2-2{
    font-size: 15px;
    width:700px;
    height:20px;
    background-color: blue;
}

div.footer{
    width:1000px;
    height:40px;
    background-color: orange;
    font-size:15px;
    color: white;
    text-align: right;
    margin-top: 20px;
}
